ul{
    list-style-type: none;
    overflow:hidden;
    padding: 0px;
    margin : 0px;
    background-color: aqua;

}
li{
    float :left;
    margin : 10px;
}
li.NavLink {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

    

